.left-hero,
.right-hero {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  max-width: 700px;
  /* height: 100vh; */
  margin: auto;
  padding: 1em;
  /* padding-top: 50px; */
  /* border: 1px solid #ccc; */
  /* text-align: center; */
  /* background-color: #f0f0f0; */
}
.home-hero {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  height: 80vh;
  margin: 1em auto;
  padding: 2em 1em;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* padding: 3em; */
}
.left-hero p {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: #333;
}
.left-hero {
  padding-left: 100px;
}
.left-hero a {
  margin-top: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 3px solid var(--main-text);
  /* transition: all 0.3s ease-in-out; */
  width: max-content;
  background-color: var(--main-text);
  color: #fff;
}
.left-hero a:hover {
  transform: scale(1.05);
  color: #ccc;
}
picture img {
  width: 100%;
  max-width: 100%;
  height: auto;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
picture {
}
